@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

@font-face {
  font-family: Jost;
  src: url(/fonts/Jost.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
font-family: Jost, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-nav {
    height: 90px;
    margin: 0 144px 0 160px;
}
.logo {
    color: #000000;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: "AstroSpace", sans-serif;
    letter-spacing: 5px;
}
.navlinks {
    list-style: none;
    float: right;
    padding: 1%;
}
.navlinks li {
    display: inline-block;
    margin: 0 20px;
}
.navlinks li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
}
.navlinks li a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #000000;
}

.block-about{
    overflow-y: hidden;
    margin: 3rem auto;
    width: 1112px;
    height: 640px;
    background: #E7816B;
    border-radius: 15px;
}
.block-about__info{
    position: absolute;
    width: 500px;
    padding: 5% 0% 0% 10%;
    color: #FFFFFF;
}
.block-about__text > h1{
    margin-bottom: 10%;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
}
.block-about__text > p{
    margin-top: 17%;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.block-about__button{
    border-radius: 8px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2.5rem 2.5rem rgba(225, 152, 42, 0.190291);
    color: black;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
}
.block-about__image{
    padding: 10% 0% 0% 65%;
    filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
}

.block-service{
    margin: 10rem auto;
    width: 1112px;
    height: 640px;
}
.block-service__first{
    position: absolute;
    background-image: url("./images/image1.png");
    width: 541px;
    height: 640px;
    mix-blend-mode: normal;
    border-radius: 15px;
    margin-bottom: 5px;
}
.block-service__first:hover{
    background-color: #E7816B;
    background-blend-mode: screen;
    opacity: 0.8;
}
.block-service__second{
    background-image: url("./images/image2.png");
    width: 541px;
    height: 308px;
    margin-left: 50%;
    mix-blend-mode: normal;
    border-radius: 15px;
}
.block-service__second:hover{
    background-color: #E7816B;
    background-blend-mode: screen;
    opacity: 0.8;
}
.block-service__third{
    background-image: url("./images/image3.png");
    width: 541px;
    height: 308px;
    margin-left: 50%;
    margin-top: 2%;
    mix-blend-mode: normal;
    border-radius: 15px;
}
.block-service__third:hover{
    background-color: #E7816B;
    background-blend-mode: screen;
}
.block-service__text{
    text-align: center;
    padding-top: 20%;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.block-service__first > .block-service__text{
    padding-top: 40%;
}
.block-service__second > .block-service__text{
    padding-top: 17%;
}
.block-service__third > .block-service__text{
    padding-top: 17%;
}
.block-info{
    margin: 3rem auto;
    width: 1112px;
    height: 700px;
}
.block-info1{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 1rem;
}
.block-info h2{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
}
.block-info p{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
}
.third{
    position: absolute;
    width: 1110px;
    height: 412px;
    left: 165px;
    top: 120%;
    display: inline-block;
}
.third_bloc1{
    position: absolute;
    
}
.third_bloc2{
    position: absolute;
    
}
.third_bloc3{
    position: absolute;
}

.footer{
    padding-top: 10%;
}
.footer-subscribe{
    margin: -18% 0px -23px 12%;
    position: absolute;
    width: 1087px;
    height: 350px;
    background: #E7816B;
    border-radius: 15px;
}
.footer-subscribe__text{
    width: 500px;
	float: left;
    color: #FFFFFF;
    padding: 5% 0 5% 10%;  
}
.footer-subscribe__text h2{
    width: 50%;
    font-family: Jost;
    font-style: bold;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}
.footer-subscribe p{
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.footer-subscribe__button{
    cursor: pointer;
	float: right;
    padding: 13% 13% 0px 0px;
}
.footer-subscribe__button button:hover{
    background-color: #FFAD9B;
    color: #FFFFFF;
	float: right;
}
hr{
    width: 71%;
    height: 1px;
    border-color: #fff;
    opacity: .05;
}
.footer-info{
    width: 100%;
    height: 600px;
    background: #1D1C1E;
}
.footer-info__links{
    padding: 9% 0 6% 14%;
}
.footer-info__links .links_logo{
    width: 20%;
    float: left;
    color: #FFFFFF;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: "AstroSpace", sans-serif;
    letter-spacing: 5px;
}
.footer-info__links .links_social .navlinks{
    padding-right: 15%;
}
.footer-info__links .links_social .navlinks a{
    float: right;
    color: #FFFFFF;
}
.footer-info__data{
    padding: 1% 2% 0 13%;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.footer-info_address{
    width: 350px;
    float:left; 
    height:100px; 
    margin:20px;
    line-height: 30px;
}
.footer-info_contact{
    float:left; 
    width: 350px;
    height:100px; 
    margin:20px;
    line-height: 30px;
}
.footer-info_media{
    width: 300px; 
    float:left; 
    height:100px; 
    margin: 8% 0 0 6%;
    line-height: 30px;
}
.footer-info_media > svg{
    padding: 10px;

}
.footer-info_media > a {
    padding: 5px;
}
@media (max-width: 576px) {
    body{
        width: 100%;
    }
    .main-nav {
        display: contents;
    }
    .logo{
        padding: 39px 20px;
    } 
    .navlinks{
        display: none;
    }
    .block-about{
        border-radius: 0;
        width: 100%;
        margin: 0px;
        height: 100%;
    }
    .block-about__info{
        position: initial;
        text-align: center;
    }
    .block-about__text > h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        font-weight: 500;
        width: 70%;
    }
    .block-about__text > p{
        margin-top: -20px;
        width: 70%;
    }
    .block-about__button{
        margin-top: 5%;
        margin-left: -35%;
    }
    .block-about__image{
        margin-top: 80px;
        padding-left: 13%;
    }
    .block-service{
        padding: 100px 10px 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0px;
        height: 100%;
    }
    .block-service__first{
        width: 275px;
        height: 140px;
        margin: 0;
    }
    .block-service__second{
        width: 275px;
        padding: 64px 24px;
        height: 140px;
        margin: 0;
    }
    .block-service__third{
        width: 275px;
        padding: 64px 24px;
        height: 140px;
        margin: 0;
    }
    .block-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        height: 200%;
        padding: 0px;
    }
    .block-info1{
        width: 100%;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 252px 24px 64px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .footer-subscribe__text{
        margin: 0;
        padding: 0;
    }
    .footer-subscribe {
        margin-left: 25px;
        width: 85%;
    }
}
